# Boundary shapefiles and raster data are stored externally (Google Drive)
# Keep them as normal Git files (no LFS filters)
data/boundaries/BR_Municipios_2024/* -filter -diff -merge -text
data/raw/* -filter -diff -merge -text

# CSVs should not be LFS
data/pyrolysis/pyrolysis_data.csv -filter -diff -merge text
data/pyrolysis/pyrolysis_data_fallback.csv -filter -diff -merge text
